.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;
    width: 40vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 20px;
    border-radius: 8px;

    .title {
        margin: 10px 0;
    }
}